[project]
	description = Shell scripts to configure a LXC container to run DevStack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Castulo J. Martinez (CasJ)
[access "refs/heads/*"]
	read = group Anonymous Users
	label-Code-Review = -1..+1 group Registered Users
[access "refs/tags/*"]
	read = group Anonymous Users
[access "refs/publish/*"]
	push = group Registered Users
