[project]
	description = Shell scripts to configure a LXC container to run DevStack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Castulo J. Martinez (CasJ)
[access "refs/heads/*"]
	read = group Anonymous Users
	label-Code-Review = -2..+2 group OSIC-QE-Developers
	label-Code-Review = -1..+1 group Registered Users
	publishDrafts = group Registered Users
	forgeAuthor = group OSIC-QE-Developers
	label-Verified = -1..+1 group OSIC-QE-Developers
	submit = group OSIC-QE-Developers
	create = group OSIC-QE-Integrators
	push = group OSIC-QE-Integrators
	pushMerge = group OSIC-QE-Integrators
[access "refs/tags/*"]
	read = group Anonymous Users
	createTag = group OSIC-QE-Integrators
[access "refs/publish/*"]
	push = group Registered Users
	pushMerge = group OSIC-QE-Developers
	forgeCommitter = group OSIC-QE-Integrators
[access "refs/drafts/*"]
	push = group Registered Users
